html,body,h1,h2,h3,h4,h5,h6,ul,li,div,blockquote{
    margin:0px;
    padding: 0px;
}
.main{
    width: 2045px;
    display: flex;  
}
ul li{
    list-style-type: none;
}
.main > div{
    display: flex;
}
.loginpage ul{
    display: flex;
}
