html,body,h1,h2,h3,h4,h5,h6,ul,li,div,blockquote{
    margin:0px;
    padding: 0px;
}
.main{
    width: 2045px;
    display: flex; 
    justify-content: center; 
   
}
ul li{
    list-style-type: none;

}
.loginpage ul{
    display: flex;
    justify-content: flex-end;
   
}
.loginpage{
    flex-basis: 1060px;
   
}
ul li:first-child{
    margin-right: 40px;
}
ul li:last-child{
    margin-left: 80px;
}