html,body,h1,h2,h3,h4,h5,h6,p,div,blockquote{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 2045px;
    margin: auto;
    background-color: #333333;
    
}
.top{
    width: 1184px;
    margin: auto;
    color:white;
}
.topbar{
    float: left;
}
.login ul li{
    float: left;
    list-style: none;
    margin-left: 40px;
}
.login{
    float: right;
}

.top::after{
    content: "";
    display: block;
    clear: both;
}
li button{
    background-color: #00c8c8;
    color: white;
}
.topbar{
    margin-top: 13px;
}
.container{
    width: 1790px;
    margin: auto;
    background-color: #f8f8f8;
    border: 1px solid black;
}
.container::after{
    content: "";
    display: block;
    clear: both;
}  

.logo{
    width: 258px;
    float: left;
}
.menu1 ul li{
    float: left;
    list-style: none;
    margin-right: 60px;
}
.menu2{
    float: left;   
    padding-top: 10px;
}
.menu2 input{
    width: 100px;
}
.menubar{
    float: right;
}
.menu1::after{
    content: "";
    display: block;
    clear: both;
}
.menu1{
    float:left ;
}
.navbanner{
    background: url("./projectp/assest/img/img4.png");
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    background-position-x:500px ;
}
.banner p{
    width:1540px;
    margin: auto;
    font-size: 450px;
    font-weight: 700;
    font-family: Montserrat;
    color: #575153;
    letter-spacing: 335px;
    padding-top: 145px;
    padding-bottom:300px;
    padding-left: 130px;
}
.banner{
    content: "";
    display: block;
    clear: both;
}

